h1 {
    text-align: center;
}
body {
    background-color: rgb(138, 111, 39);
    color: white;
    font-family:'Courier New', Courier, monospace;
}
#cy {
    border: 5px solid rgb(39, 31, 13);
    border-style: ridge;
    width:70%;
    height:80%;
    position: absolute;
    top: 10%;
    left: 2%;
}
#descriptionbox {
    margin-left: 10px;
    border: 5px solid rgb(117, 103, 38);
    border-style: ridge ;
    width:22%;
    height:70%;
    padding: 5px;
    position: absolute;
    top: 15%;
    left: 74%;
    overflow-y: scroll;
}
#desctitle {
    text-align: center
}
a:link,a:visited{
    color: white;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:black;
    text-decoration: underline;
}